Package: com.auxilium.facetimelauncher
Version: 0.1-beta
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Description: Facetime Launcher for your CC.
Name: FacetimeLauncher
Author: Auxilium