Package: com.auxilium.filzalauncher
Version: 0.1-beta
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Description: Filza Launcher for your CC.
Name: FilzaLauncher
Author: Auxilium