Package: com.auxilium.icleanerlauncher
Version: 0.1-beta
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Description: iCleaner Launcher for your CC.
Name: iCleanerLauncher
Author: Auxilium