Package: com.auxilium.lastpasslauncher
Version: 0.1-beta
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Description: Lastpass Launcher for your CC.
Name: LastpassLauncher
Author: Auxilium