Package: com.auxilium.onepasswordlauncher
Version: 0.1-beta
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Description: 1Password Launcher for your CC.
Name: 1PasswordLauncher
Author: Auxilium